extends layout

block content
  .modal#display(style="display: flex; justify-content: center; align-items: center; height: 90vh;")
    .w3-card-4(style="width: 1000px; border-radius: 7px; padding-bottom: 20px;")
      header(style="padding: 10px; text-align: center; background-color: #779F60;")
        h1 Adicionar ficheiro de uma rua
      form.w3-container(action="/ruas/file" method="POST" enctype="multipart/form-data", style="padding-top:20px;")
        .form-group(style="margin-bottom: 20px;")
          label.w3-text(style="color: #9F6077;")
            b Selecionar ficheiro
          input#fileInput.w3-input.w3-border.w3-light-grey(type="file" name="myFile" accept=".zip", onchange="checkFile()")
        .form-group(style="text-align: center; margin-top: 20px;")
          a.w3-btn.w3-blue-grey(href="/ruas", style="margin-right: 20px;") Voltar
          input#submitButton.w3-btn.w3-blue-grey(type="submit" value="Submeter", disabled=true)

    script.
      function checkFile() {
        var fileInput = document.getElementById('fileInput');
        var submitButton = document.getElementById('submitButton');
        if (fileInput.files.length > 0) {
          var file = fileInput.files[0];
          var fileType = file.name.split('.').pop().toLowerCase();
          if (fileType === 'zip') {
            submitButton.disabled = false;
          } else {
            alert('Please select a .zip file.');
            fileInput.value = '';
            submitButton.disabled = true;
          }
        } else {
          submitButton.disabled = true;
        }
      }
