extends layout

block content
    a.w3-button.w3-dark-grey.w3-padding-large(style="margin-left: 20px; margin-top: 30px; color: black; margin-bottom: 20px;" href='/ruas/' + rua._id) < Voltar à rua

    .w3-card-4.w3-margin-top(style="max-width: 1000px; margin-left: auto; margin-right: auto;")
        h1.w3-center Sugestões para #{rua.nome}
        form(method='POST')
            .w3-section
                label Sugestão
                input.w3-input.w3-border(type='text' name='alteracoes' required)
            .w3-section
                label Justificação 
                textarea.w3-input(name='justificacao' id='justificacao' rows='15' style="background-color: #f1f1f1; border-style: solid; resize: none;" required)
            .w3-section
                button.w3-button.w3-blue(type='submit') Submeter
